

body {
    text-align: center;
    background: linear-gradient(#ffffe0, #FFCCCB);
    font-family: 'Domine', serif;
font-family: 'Happy Monkey', cursive;
font-family: 'Xanh Mono', monospace;
}

.one {
    height: 100vh;
    background: url(/mjWVz9E.jpeg);
    background-size: cover;
    padding: 100px;
    color:black;
}

.one h1 {
    font-size: 30px;
    font-weight: 500;
}

.front {
    background: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
    margin-top: -15px;

}

.top {
    padding-top: 10px;
    font-size: 30px;
}
.two {
    background: pink;
    margin-top: -30px;
}
.container {
    margin: 20px;
    border: 5px solid white;
    border-radius: 10px;
}


#picture {
    height: 200px;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: -25px;
    margin-left: -21px;
}
img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.flex {
    display: flex;
    justify-content: space-around;
}



.description {
    display: flex;
    align-items: center;
}

.three {
    display: flex;
    justify-content: space-around;
    background: #add8e6;
    
}



.gum {
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 300px;
    background:#2888a8;
    padding: 25px;
    margin: 5px;
    
}
p {
    padding:0px 50px;
}

 .contain{
    padding: 15px;
    margin-top: -60px;
}


.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

h1 {
    background: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    text-decoration: underline;
    color:red;
    transition: 2s;
}


